@use "./typography" as *;
@use "./breakpoints" as *;
@use "./colours" as *;

.footer{
    background-color: $primaryBandsite;
    color: $primaryWhite;
    
    @include media-tablet{
        padding:36px;
    }

    &__title{
        font-family: avenir-bold;
        font-size: $section-font-size-mobile;
        line-height: $section-line-height-mobile;
        font-weight: $section-font-weight-mobile;
        padding: 16px 8px 8px 16px;
    
        @include media-tablet{
            font-family: avenir-bold;
            font-size:$section-font-size-tablet;
            line-height:$section-line-height-tablet;
            font-weight: $section-font-weight-tablet;
        }
    }

    &__subheader{
        font-family: avenir-bold;
        font-size: $footer-font-size-mobile;
        line-height: $footer-line-height-mobile;
        font-weight: $footer-font-weight-mobile;
        padding: 8px 8px 8px 16px;

        @include media-tablet{
            font-family: avenir-bold;
            font-size: $footer-font-size-tablet;
            line-height: $footer-line-height-tablet;
            font-weight: $footer-font-weight-tablet;
        }
    }
    &__text{
        font-family: avenir;
        font-size: $footer-font-size-mobile;
        line-height: $footer-line-height-mobile;
        font-weight: $footer-font-weight-mobile;
        padding: 8px 8px 8px 16px;

        @include media-tablet{
            font-family: avenir;
            font-size: $footer-font-size-tablet;
            line-height: $footer-line-height-tablet;
            font-weight: $footer-font-weight-tablet;
        }
    }
    &__email{
        font-family: avenir;
        font-size: $footer-font-size-mobile;
        line-height: $footer-line-height-mobile;
        font-weight: $footer-font-weight-mobile;
        padding: 8px 8px 16px 16px;

        @include media-tablet{
            font-family: avenir;
            font-size: $footer-font-size-tablet;
            line-height: $footer-line-height-tablet;
            font-weight: $footer-font-weight-tablet;
        }
    }
    &__bandsite--logo{
        padding: 16px 8px 8px 16px;

        @include media-tablet{
            position: relative;
            bottom: 200px; 
            left: 80%;
        }// I am not sure if this is the best way to do this?
        // }
    }
    &__text--label{
        font-family: avenir;
        font-size: $label-font-size-mobile;
        line-height: $label-line-height-mobile;
        font-weight: $label-font-weight-mobile;
        padding: 0 0 16px 16px;

        @include media-tablet{
            font-family: avenir;
            font-size: $label-font-size-tablet;
            line-height: $label-line-height-tablet;
            font-weight: $label-font-weight-tablet;
        }
    }
    &__contacts{
        list-style-type: none;

        @include media-tablet{
            display: flex;
        }
    }
    &__top{

        @include media-tablet{
            display: flex;
            align-items: baseline;
        }
    }
}
.address{
    font-style: italic;
}

.socialicon{
    padding: 8px 8px 8px 16px; 
    @include media-tablet {
        padding: 18px 18px 18px 36px
    }
}
