@use "./breakpoints" as *;

@font-face {
    font-family: avenir-bold;
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format(opentype);
    font-style:normal;
    font-weight:700;
}   

@font-face {
    font-family: avenir-demi;
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format(opentype);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format(opentype);
    font-style: normal;
    font-weight: 400;
}
// VARIABLES
// $avernir__pageheader--mobile: 
// font-size: 24px;
// line-height: 32px;
// font-weight: 700 bold;

// $avenir__sectionheader--mobile:
// font-size: 24px
// line-height: 32px
// font-weight: 700 bold;