@use "./partials/typography" as *;
@use "./partials/breakpoints" as *;
@use "./partials/colours" as *;


* {
    margin: 0;
    padding:0;
    font-family: avenir;
    
}
header{
    background-color: $primaryBandsite;
    color: $primaryWhite;
    padding: 8px 16px 0 16px;

}
.header__bandsite--logo {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 3vh
}
.header {
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;

}
.nav__list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;


    &--active {
    border-bottom: 4px solid $primaryWhite;
    padding-bottom: 8px;
}
}
.hero{
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size:cover;
    background-position:center;
    height: 25vh;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color:$primaryWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;


    // &__overlay{
    //     background-color: $primaryBandsite 0.5; 
    }

    &__title{
    padding-left: 16px;
    
    }
.about{
    margin: 0;
    padding: 16px;

    &__title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        padding-bottom: 16px;

        &--image {
            width:100%;
        }
    }
    
}
.about__quote{
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    padding-bottom: 8px;
}
.about__subtitle{
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    padding-bottom: 16px;
    padding-top: 8px;
}
.about__body{
    font-family: avenir;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 16px;
    color: $primaryBandsite
}
.photogallery{
    margin:0;
    padding:0;

    &__title{
        font-family: avernir;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        padding: 16px 16px 8px 16px;
        color:$primaryBandsite
    }
    &__photo{
        padding: 8px 16px;
        display: flex; 
        width: 90%;
    }
}
.footer{
    background-color: $primaryBandsite;
    color: $primaryWhite;

    &__title{
        font-family: avernir;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700 bold;
        padding: 8px 8px 8px 16px;
    }

    &__subheader{
        font-family: avenir;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        padding: 8px 8px 8px 16px;
    }
    &__text{
        font-family: avenir;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        padding: 8px 8px 8px 16px;
    }
    &__email{
        font-family: avenir;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        padding: 8px 8px 8px 16px;
    }
    &__bandsite--logo{
        padding: 8px 8px 8px 16px;
    }
}

.sociallogo{
    padding: 8px 8px 8px 16px; 
}