@font-face {
  font-family: avenir-bold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format(opentype);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: avenir-demi;
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format(opentype);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format(opentype);
  font-style: normal;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-family: avenir;
}

header {
  background-color: #323232;
  color: #ffffff;
  padding: 8px 0 0 0;
  font-family: avenir-bold;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 24px 36px 0 36px;
  }
}
@media (min-width: 1280px) {
  header {
    padding: 48px 0 0 8%;
    align-items: baseline;
  }
}

.header__bandsite--logo {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  height: 3vh;
}
@media (min-width: 768px) {
  .header__bandsite--logo {
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  .header__bandsite--logo {
    height: 20px;
  }
}

.nav {
  display: flex;
}
.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  font-family: avenir-demi;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 8px;
}
.nav__list--active {
  border-bottom: 4px solid #ffffff;
  width: 50%;
}
@media (min-width: 768px) {
  .nav__list {
    padding-left: 36px;
    padding-right: 36px;
    font-family: avenir;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.nav__list--inactive {
  border-bottom: 4px solid #323232;
  width: 50%;
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  background-color: #323232 0.5;
}
.hero__title {
  padding-left: 16px;
  display: flex;
  align-items: center;
  font-family: Avenir;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__title {
    font-family: avenir-bold;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 8%;
  }
}
.hero__overlay {
  height: 25vh;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 2;
}
@media (min-width: 1280px) {
  .hero__overlay {
    height: 50vh;
  }
}

.about {
  margin: 0;
  padding: 16px;
}
@media (min-width: 768px) {
  .about {
    padding: 36px;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 36px 8%;
  }
}
.about__title {
  font-family: avenir-bold;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .about__title {
    padding-top: 12px;
    font-family: avenir-bold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.about__title--image {
  width: 100%;
}
@media (min-width: 768px) {
  .about__title--image {
    padding: 16px 36px;
    width: 90%;
  }
}

.about__quote {
  font-family: avenir-demi;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .about__quote {
    font-family: avenir-demi;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding: 8px 36px;
  }
}

@media (min-width: 768px) {
  .about__author {
    font-family: avenir-demi;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 40px;
  }
}

.about__subtitle {
  font-family: avenir-demi;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 16px;
  padding-top: 8px;
}
@media (min-width: 768px) {
  .about__subtitle {
    font-family: avenir-demi;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding: 8px 36px 36px 36px;
  }
}

.about__body {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
  color: #323232;
}
@media (min-width: 768px) {
  .about__body {
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .about__paragraphs {
    display: flex;
    -moz-column-gap: 36px;
         column-gap: 36px;
    padding: 0 36px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
  }
}

.photogallery {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}
.photogallery__title {
  font-family: avenir-bold;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 16px 16px 8px 16px;
  color: #323232;
}
@media (min-width: 768px) {
  .photogallery__title {
    font-family: avenir-bold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .photogallery__title {
    padding-bottom: 36px;
    padding-left: 8%;
  }
}
.photogallery__photo {
  padding: 8px 16px;
  display: flex;
  width: 90%;
}

@media (min-width: 768px) {
  .photogallery__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
  }
}
@media (min-width: 1280px) {
  .photogallery__photos {
    padding-bottom: 36px;
    padding: 36px 8%;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    padding: 36px;
  }
}
.footer__title {
  font-family: avenir-bold;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 16px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__title {
    font-family: avenir-bold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.footer__subheader {
  font-family: avenir-bold;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__subheader {
    font-family: avenir-bold;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__text {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__text {
    font-family: avenir;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__email {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 8px 16px 16px;
}
@media (min-width: 768px) {
  .footer__email {
    font-family: avenir;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__bandsite--logo {
  padding: 16px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__bandsite--logo {
    position: relative;
    bottom: 220px;
    left: 80%;
  }
}
.footer__text--label {
  font-family: avenir;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  padding: 0 0 16px 16px;
}
@media (min-width: 768px) {
  .footer__text--label {
    font-family: avenir;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
.footer__contacts {
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
  }
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    align-items: baseline;
  }
}

.address {
  font-style: italic;
}

.socialicon {
  padding: 8px 8px 8px 16px;
}
@media (min-width: 768px) {
  .socialicon {
    padding: 18px 18px 18px 36px;
  }
}/*# sourceMappingURL=bio.css.map */