@use "./partials/typography" as *;
@use "./partials/breakpoints" as *;
@use "./partials/colours" as *;


* {
    margin: 0;
    padding:0;
    font-family: avenir;
    
}
header{
    background-color: $primaryBandsite;
    color: $primaryWhite;
    padding: 8px 0 0 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;

    @include media-tablet{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 24px 36px 0 36px;
    }


}
.header__bandsite--logo {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 3vh;

    @include media-tablet{
        padding-right: 36px;

}
}

.nav{
    display: flex;

    

    &__list{
        display: flex;
        list-style-type: none;
        justify-content: center;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        padding-bottom: 8px;
    
        &--active {
            border-bottom: 4px solid $primaryWhite;
            width: 50%;
        }
        @include media-tablet{
            padding-left: 36px;
            padding-right: 36px;

            font-family: avenir;
            font-size: $subheader-font-size-tablet;
            line-height: $subheader-line-height-tablet;
            font-weight: $subheader-font-weight-tablet;
    
    }
    }
        &__list--inactive {
            border-bottom: 4px solid $primaryBandsite;
            width: 50%;
        }
    }


.hero{
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size:cover;
    background-position:center;
    height: 25vh;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color:$primaryWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primaryBandsite 0.5;

    // &__overlay{

    // }
    &__title{
    padding-left: 16px;

    @include media-tablet{
        font-family: avenir-bold;
        font-size: $header-font-size-tablet;
        line-height: $header-line-height-tablet;
        font-weight: $header-font-weight-tablet;
        padding-left: 36px;
    }

    
    } 
}
.about{
    margin: 0;
    padding: 16px;

    @include media-tablet{
        padding: 36px;
    }

    &__title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        padding-bottom: 16px;

        @include media-tablet{
            padding-top: 12px;
            font-family: avenir-bold;
            font-size:$section-font-size-tablet;
            line-height:$section-line-height-tablet;
            font-weight: $section-font-weight-tablet;
        }

        &--image {
            width:100%;
            @include media-tablet{
                padding: 16px 36px;
                width:90%;
        }
    }
        
    }
    
}
.about__quote{
    font-family: avenir-demi;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    padding-bottom: 8px;

    @include media-tablet{
        font-family: avenir-demi;
        font-size:$subheader-font-size-tablet ;
        line-height: $subheader-line-height-tablet;
        font-weight: $subheader-font-weight-tablet;
        padding: 8px 36px;

    } 
}
.about__author{
    @include media-tablet{
        font-family: avenir-demi;
        font-size:$body-font-size-tablet;
        line-height: $body-line-height-tablet;
        font-weight: $body-font-weight-tablet;
        padding-bottom: 40px;
    }
}
.about__subtitle{
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    padding-bottom: 16px;
    padding-top: 8px;

    @include media-tablet{
        font-family: avenir-demi;
        font-size:$subheader-font-size-tablet ;
        line-height: $subheader-line-height-tablet;
        font-weight: $subheader-font-weight-tablet;
        padding: 8px 36px 36px 36px;
    } 
}
.about__body{
    font-family: avenir;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 16px;
    color: $primaryBandsite;

    @include media-tablet{
        font-family: avenir-demi;
        font-size:  $body-font-size-tablet;
        line-height: $body-line-height-tablet;
        font-weight: $body-font-weight-tablet;
    }
}
.about__paragraphs{
    @include media-tablet{
        display: flex;
        column-gap: 36px;
        padding: 0 36px;
        font-size: $body-font-size-tablet;
        line-height: $body-line-height-tablet;
        font-weight: $body-font-weight-tablet;
        color:$primaryBandsite;
    }
}

.photogallery{
    margin:0;
    padding:0;

    @include media-tablet{
        padding: 36px 18px;
    }

    &__title{
        font-family: avernir;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        padding: 16px 16px 8px 16px;
        color:$primaryBandsite;

        @include media-tablet{
            font-family: avenir-bold;
            font-size:$section-font-size-tablet;
            line-height:$section-line-height-tablet;
            font-weight: $section-font-weight-tablet;
        }
    }
    &__photo{
        padding: 8px 16px;
        display: flex; 
        width: 90%;
}
}
.photogallery__photos{
    @include media-tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 18px;
    }
}
.footer{
    background-color: $primaryBandsite;
    color: $primaryWhite;
    
    @include media-tablet{
        padding:36px;
    }

    &__title{
        font-family: avernir;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700 bold;
        padding: 8px 8px 8px 16px;
    
        @include media-tablet{
            font-family: avenir-bold;
            font-size:$section-font-size-tablet;
            line-height:$section-line-height-tablet;
            font-weight: $section-font-weight-tablet;
        }
    }

    &__subheader{
        font-family: avenir;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        padding: 8px 8px 8px 16px;

        @include media-tablet{
            font-family: avenir-bold;
            font-size: $footer-font-size-tablet;
            line-height: $footer-line-height-tablet;
            font-weight: $footer-font-weight-tablet;
        }
    }
    &__text{
        font-family: avenir;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        padding: 8px 8px 8px 16px;

        @include media-tablet{
            font-family: avenir;
            font-size: $footer-font-size-tablet;
            line-height: $footer-line-height-tablet;
            font-weight: $footer-font-weight-tablet;
        }
    }
    &__email{
        font-family: avenir;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        padding: 8px 8px 16px 16px;

        @include media-tablet{
            font-family: avenir;
            font-size: $footer-font-size-tablet;
            line-height: $footer-line-height-tablet;
            font-weight: $footer-font-weight-tablet;
        }
    }
    &__bandsite--logo{
        padding: 16px 8px 8px 16px;

        // @include media-tablet{
        //     position: sticky;
        //     bottom: 225px 0 0 500px;
        // }
    }
    &__text--label{
        font-family: avenir;
        font-size: 10px;
        line-height: 20px;
        font-weight: 700;
        padding: 0 8px 8px 16px;

        @include media-tablet{
            font-family: avenir;
            font-size: $label-font-size-tablet;
            line-height: $label-line-height-tablet;
            font-weight: $label-font-weight-tablet;
        }
    }
    &__contacts{
        list-style-type: none;
        @include media-tablet{
            display: flex;
            justify-content: center;
            
        }
    }
    &__top{
        @include media-tablet{
            display: flex;
            align-items: baseline;
        }
    }
}
.address{
    font-style: italic;
}

.socialicon{
    padding: 8px 8px 8px 16px; 
}