@font-face {
  font-family: avenir-bold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format(opentype);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: avenir-demi;
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format(opentype);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format(opentype);
  font-style: normal;
  font-weight: 400;
}
.footer {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    padding: 36px;
  }
}
.footer__title {
  font-family: avenir-bold;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 16px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__title {
    font-family: avenir-bold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.footer__subheader {
  font-family: avenir-bold;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__subheader {
    font-family: avenir-bold;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__text {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__text {
    font-family: avenir;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__email {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 8px 8px 16px 16px;
}
@media (min-width: 768px) {
  .footer__email {
    font-family: avenir;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__bandsite--logo {
  padding: 16px 8px 8px 16px;
}
@media (min-width: 768px) {
  .footer__bandsite--logo {
    position: relative;
    bottom: 200px;
    left: 80%;
  }
}
.footer__text--label {
  font-family: avenir;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  padding: 0 0 16px 16px;
}
@media (min-width: 768px) {
  .footer__text--label {
    font-family: avenir;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
.footer__contacts {
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
  }
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    align-items: baseline;
  }
}

.address {
  font-style: italic;
}

.socialicon {
  padding: 8px 8px 8px 16px;
}
@media (min-width: 768px) {
  .socialicon {
    padding: 18px 18px 18px 36px;
  }
}

header {
  background-color: #323232;
  color: #ffffff;
  padding: 2rem 0 0 0;
  font-family: avenir-bold;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 7rem;
  }
}
.header__bandsite--logo {
  display: flex;
  justify-content: center;
  height: 2rem;
}
@media (min-width: 768px) {
  .header__bandsite--logo {
    padding: 0.5rem 1rem 0.5rem 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__bandsite--logo {
    height: 3rem;
    padding: 0.2rem 1rem 0.5rem 3rem;
  }
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav__list {
  display: flex;
  list-style-type: none;
  font-family: avenir-demi;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 1.1rem 0;
}
.nav__list-active {
  border-bottom: 4px solid #ffffff;
}
@media (min-width: 768px) {
  .nav__list {
    font-family: avenir;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    padding-bottom: 2rem;
    margin-left: 4rem;
  }
}
.nav__list-inactive {
  border-bottom: 4px solid #323232;
  color: #E1E1E1;
  text-decoration: none;
}
.nav__list-inactive:hover {
  font-family: avenir;
  border-bottom: 4px solid #E1E1E1;
  color: #E1E1E1;
}

* {
  margin: 0;
  padding: 0;
  font-family: avenir;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  list-style: none;
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
}
.hero__overlay {
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 2;
}
@media (min-width: 1280px) {
  .hero__text--container {
    display: flex;
    flex-direction: column;
    padding: 10rem 0 10rem 10rem;
  }
}
.hero__text {
  width: 35%;
}
.hero__album {
  font-family: avenir-demi;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  padding: 32px 0 16px 16px;
}
@media (min-width: 768px) {
  .hero__album {
    padding: 36px;
    font-family: avenir-demi;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.hero__song {
  font-family: avenir-bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  padding: 16px 0 16px 16px;
}
@media (min-width: 768px) {
  .hero__song {
    padding: 36px;
    font-family: avenir-bold;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    width: 75%;
  }
}
.hero__soundcloud {
  width: 90%;
  height: 50%;
  padding: 16px 16px 32px 16px;
}
@media (min-width: 768px) {
  .hero__soundcloud {
    width: 55%;
    padding: 36px;
  }
}
@media (min-width: 1280px) {
  .hero__soundcloud {
    height: 25%;
    width: 100%;
    padding: 10rem 0 10rem 10rem;
    position: relative;
    right: 20rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (min-width: 768px) {
  .shows {
    padding: 36px;
  }
}
.shows__title {
  font-family: avernir-bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 768px) {
  .shows__title {
    padding: 1rem;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding-left: 5rem;
  }
}
.shows__list {
  list-style-type: none;
  padding-bottom: 16px;
}
.shows__list :hover {
  background-color: #FAFAFA;
}
.shows__showcard {
  display: flex;
  flex-direction: column;
  color: #AFAFAF;
  font-family: avenir-bold;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .shows__showcard {
    flex-direction: row;
    font-size: 0;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .shows__showcard {
    position: relative;
    left: 20rem;
    bottom: 5rem;
    width: 70%;
  }
}
.shows__showcard :hover {
  background-color: #FAFAFA;
}
.shows__showcard span {
  flex: 1;
}
.shows__date {
  color: #323232;
  font-family: avenir-demi;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .shows__date {
    font-family: avenir-demi;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.shows__venue {
  color: #323232;
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows__venue {
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.shows__location {
  color: #323232;
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows__location {
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.shows__tickets {
  color: #ffffff;
  background-color: #323232;
  font-family: avenir;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.shows__tickets:hover {
  background-color: #000000 !important;
}
.shows__table {
  display: none;
}
.shows__table--tickets {
  display: none;
}
@media (min-width: 768px) {
  .shows__table {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 1rem;
  }
  .shows__table li {
    flex: 1;
  }
}
@media (min-width: 1280px) {
  .shows__table {
    position: relative;
    left: 20rem;
    bottom: 5rem;
    width: 70%;
  }
}
.shows__table--date {
  padding: 16px 0;
  color: #AFAFAF;
  font-family: avenir;
  font-weight: 700;
  line-height: 20px;
  font-size: 12px;
}
.shows__table--venue {
  padding: 16px 0;
  color: #AFAFAF;
  font-family: avenir;
  font-weight: 700;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  right: 5rem;
}
.shows__table--location {
  padding: 16px 0;
  color: #AFAFAF;
  font-family: avenir;
  font-weight: 700;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  right: 10rem;
}/*# sourceMappingURL=shows.css.map */